albumentations==1.1.0
flatbuffers==1.12
sklearn==0.0
Pillow==9.0.0
simple-onnx-processing-tools==1.0.71
tensorflow_probability==0.15.0 # onnx-tf requirement (TF2.7 compatibility)

# force old versions
onnx==1.8.1
matplotlib==3.4.1
torch==1.8.0
torchvision==0.9.1
